# File Input/Output

The ```with``` statement creates a [context manager](http://book.pythontips.com/en/latest/context_managers.html) that allows us to open, edit, and automatically close a file. This is generally the safest way to write to a file.

In [1]:
with open('test.txt', 'w') as f:
    f.write('testing testing ....\n')
    f.write('\t1...2...3')
    
# File automatically closes

Trying to write outside the file context will result in an exception:

In [2]:
try:
    f.write('3')
except ValueError as e:
    print(e)

I/O operation on closed file.

We can view the file using cat:

In [3]:
!cat test.txt #! symbol will execute cat command lineM

testing testing ....
	1...2...3

You can even read and write binary data this way, though pandas and numpy are better suited in most cases.

Read more about the ```with``` statement here http://effbot.org/zone/python-with-statement.htm

### Pandas I/O
Pandas can also be used to read and write tabular data.

In [6]:
import pandas as pd

In [7]:
df = pd.DataFrame(dict(count = [i**2 for i in range(6)], 
                       fruit = ['apple', 'orange','pear','apple','orange','pear']))
df

   count   fruit
0      0   apple
1      1  orange
2      4    pear
3      9   apple
4     16  orange
5     25    pear

In [8]:
df.to_csv('fruit.csv', index_label='id')

In [9]:
!cat fruit.csv #verify contents of file

id,count,fruit
0,0,apple
1,1,orange
2,4,pear
3,9,apple
4,16,orange
5,25,pear

In [10]:
pd.read_csv('fruit.csv', index_col = 'id')

    count   fruit
id
0       0   apple
1       1  orange
2       4    pear
3       9   apple
4      16  orange
5      25    pear

You can read and write to json using the ```to_json``` method.

In [11]:
print(df.to_json())

{"count":{"0":0,"1":1,"2":4,"3":9,"4":16,"5":25},"fruit":{"0":"apple","1":"orange","2":"pear","3":"apple","4":"orange","5":"pear"}}

provide a filename to write to file:

In [12]:
df.to_json('fruit.json')

In [13]:
!cat fruit.json # verify contents of file

{"count":{"0":0,"1":1,"2":4,"3":9,"4":16,"5":25},"fruit":{"0":"apple","1":"orange","2":"pear","3":"apple","4":"orange","5":"pear"}}

load the data back into python

In [14]:
pd.read_json('fruit.json')

   count   fruit
0      0   apple
1      1  orange
2      4    pear
3      9   apple
4     16  orange
5     25    pear