# Python Data Types

Python has several built-in data types available to you. Use the ```type``` function if you need to see what you're working with.

In [4]:
i = 1 #create a new integer
type(i)

int

In [5]:
j = 1.0 #create a new real number (float)
type(j)

float

In [6]:
type(i*j)

float

You can also use type-casting to convert one type to another where possible.

In [7]:
int(3.0)

3

Python automatically converts between integers and real numbers, so multiplying an int by a float produces another float. While extremely convenient, this can lead to arithmetic errors if you're not careful.

## Strings

These are alpha-numeric data of arbitrary length.

In [8]:
mystr = 'hello world!'
mystr

'hello world!'

In [9]:
mystr = """
Hello.
This is a multi-lined string"""
print(mystr)

Hello.
This is a multi-lined string

Strings have their own methods - operations you can perform to produce other strings.

In [10]:
mystr = "{0} x {1} = {2:3.2f}".format(3, 5, 15) # a formatted string
print(mystr)

3 x 5 = 15.00

More documentation of string formatting can be found here

https://docs.python.org/2/library/string.html#format-string-syntax

# Lists

Lists are created with brackets and commas, and can contain combination of data types, including other lists.

In [11]:
mylist = [3,'four',5., ['another', 'list']]
mylist

[3, 'four', 5.0, ['another', 'list']]

You can iterate over lists using a for loop.

In [12]:
for x in mylist:
    print(x)

3
four
5.0
['another', 'list']

In [13]:
mylist[0] # access the first element

3

In [14]:
mylist[-1] # access the last element

['another', 'list']

In [15]:
mylist[-2] # access the second-to-last element

5.0

In [16]:
mylist.append(8) # insert at the end of the list
mylist

[3, 'four', 5.0, ['another', 'list'], 8]

In [17]:
mylist.pop(0) # take off the first element

3

In [18]:
mylist

['four', 5.0, ['another', 'list'], 8]

**Lists are best when dealing with smaller numbers of elements (less than 1k).** For numerical data, numpy arrays are better, especially for larger datasets.

## Tuples

Tuples are like lists, but are immutable (cannot be edited). Tuples are created with parenthesis and commas:

In [19]:
mytuple = (3,4,5)
mytuple

(3, 4, 5)

In [20]:
# mytuple[2] = 0 # Uncomment to see what happens when you try to change an element of a tuple.
mytuple[2]

5

You can also make a tuple without parenthesis, which comes in handy when assigning multiple variables

In [21]:
x, y, z = 3, 4, 5

In [22]:
print(x,y,z)

3 4 5

## Dictionaries

Dictionaries are collections of {key, value} pairs. There are several ways to create a dictionary:

In [23]:
dict(a = 1, b = 'two', c = 3) # constructor notation

{'a': 1, 'b': 'two', 'c': 3}

In [24]:
{'a': 1, 'b': 'two', 'c': 3} # bracket notation

{'a': 1, 'b': 'two', 'c': 3}

In [25]:
mylist = [('c',3),('a',1),('b','two')] # from a list of 2-element tuples
d = dict(mylist)
d

{'c': 3, 'a': 1, 'b': 'two'}

elements of a dictionary are accessible using bracket notation. A ```KeyError``` will be raised if the key is missing.

In [26]:
d['a']

1

In [27]:
d['a'] = 'one'
d

{'c': 3, 'a': 'one', 'b': 'two'}

You can iterate over dictionaries using the ```items``` method.

In [28]:
for k,v in d.items():
    print(k, v)

c 3
a one
b two

The order of the dictionary is arbitrary, but you can use an ordered dictionary where necessary:

In [29]:
from collections import OrderedDict
mylist = [('youfirst',3),('second',1),('third','two')] 
OrderedDict(mylist) # Will be created in the same order as the list

OrderedDict([('youfirst', 3), ('second', 1), ('third', 'two')])

As of python 3.7, dictionaries are ordered by default. So, if you are running this notebook in python3, the following dictionary should be in the same order as the above OrdereDict

In [30]:
dict(mylist)

{'youfirst': 3, 'second': 1, 'third': 'two'}

## DefaultDictionaries

These allow you to give a default type to values of a dictionary.

In [31]:
from collections import defaultdict

d = defaultdict(list)
d['a'].append(2) #creates a list at 'a' and inserts 2 as the first element
d['a']

[2]

## None Type

It is worth noting the special ```None``` type which is useful when you need a default value that is not numeric.

In [32]:
a = 0
print(a == 0)
print(a is None)

True
False